header{
    background-color:black;
    color: #ffffff;
    text-align: center;
}

body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

main{
    background-color: lightgray;
    padding: 1em;
}